{% extends "base.html" %} 
{% block title %} Settings {% endblock %} 
{% block content %}

<h1 align="left">Settings</h1>
<form method="POST">
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall form-group">
      <label for="name">Storage Name</label>
      <input type="text" name="name" id ="name" placeholder="Storage Name"/>
    </div>
    <div class = "col-6 col-12-xsmall form-group">
      <label for="price">GB per Month (AUD)</label>
      <input type="text" name="price" id="price" placeholder="In AUD"/>
    </div>
    <div class = "col-6 col-12-xsmall form-group">
      <label for = "storageType">Storage Type</label>
      <select id = "storageType" name = "storageType">
        <option value = "Bought">Bought</option>
        <option value = "Rental">Rental</option>
      </select>
    </div>
    <!--
    <div class = "col-12 form-group">
      <label for="multiplier">Accumulation Multiplier</label>
      <input type="text" name="multiplier" id="multiplier" placeholder="Multiplier"/>
    </div>
    -->
  </div>
  <div align = "center">
    <button type="submit" class="button primary">Add Storage</button>
  </div>
</form>
<br>
<br>
<h1 align = "Left">Storage List</h1>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Storage Name</th>
        <th>GB per Month (AUD)</th>
        <th>Storage Type</th>
      </tr>
    </thead>
    <tbody>
      {% for storage in user.storage %}
      <tr>
        <td>{{ storage.id }}</td>
        <td>{{ storage.name }}</td>
        <td>{{ storage.price }}</td>
        <td>{{ storage.type }}</td>
        <td>
          <div class="popup" onclick="popUpStroage({{storage.id}})">
            Delete
            <span class="popuptext" id="myStorage{{storage.id}}">
              Are you sure delete this storage?
              <a onClick  = "deleteStorage({{ storage.id }})">Yes</a>
              /
              <a >No</a>
            </span>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  // When the user clicks on div, open the popup
  function popUpStroage(storageID) {
    var popup = document.getElementById("myStorage" + storageID);
    popup.classList.toggle("show");
  }
</script>
{% endblock %}
