{% extends "base.html" %} 
{% block title %} View Muitiple Histories {% endblock %}
{% block content %}

<h1 align = "Left">Selected Histories</h1>
<div lass="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Instrument's Name</th>
          <th>Data Generated Per Day (GB)</th>
          <th>Price (AUD)</th>
          <th>Expected Lifetime (Years)</th>
          <th>Start Date (DD/MM/YYYY)</th>
          <th>Initial Data Size (GB)</th>

          <th>Select</th>
      
        </tr>
      </thead>
      <tbody>
        {%if select_histories %}
          {% for history in select_histories %}
          <tr>
            <th>
                <div class="edit">{{ history.name }}</div>
            </th>
            <td>{{ history.data_generated }}</td>
            <td>{{ history.price }}</td>
            <td>{{ history.lifetime }}</td>
            <td>{{ history.start_date }}</td>
            <td>{{ history.initial_size }}</td>
  
            <th>
              <a href="/view-history/{{ history.id }}">Select</a>
            </th>
  
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class = "container" >
    <canvas id="myChart" ></canvas>
  </div>

  <script>

    var dataSets = []
    for(i in {{ before_datas | safe }}){
      dataSets.push({
        label: {{name_list | safe}}[i] + " before",
        data: {{ before_datas | safe }}[i],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    })

      dataSets.push({
        label: {{name_list | safe}}[i] + " after",
        data: {{ after_datas | safe }}[i],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    })
    }

    const data = {
        datasets: dataSets
    };

    // config block
    const config = {
        type: 'line',
        data,
        options: {
            scales: {
                x : {
                    type: "time",
                    time: {
                        unit: 'year'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    };

     // render / init block
     var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>
  

{% endblock %}