{% extends "base.html" %} 
{% block title %} View Muitiple Histories {% endblock %}
{% block content %}

<h1 align = "Left">Selected Histories</h1>
<div lass="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Instrument's Name</th>
          <th>Data Generated Per Day (GB)</th>
          <th>Price (AUD)</th>
          <th>Expected Lifetime (Years)</th>
          <th>Start Date (DD/MM/YYYY)</th>
          <th>Initial Data Size (GB)</th>

          <th>Select</th>
      
        </tr>
      </thead>
      <tbody>
        {%if select_histories %}
          {% for history in select_histories %}
          <tr>
            <th>
                <div class="edit">{{ history.name }}</div>
            </th>
            <td id="generated{{history.id}}"></td>
            <td id="price{{history.id}}"></td>

            <td >{{ history.lifetime }}</td>
            <td>{{ history.start_date }}</td>
            <td id="initial{{history.id}}"></td>

            <script>
              var element = document.getElementById("price"+{{history.id}});
              element.innerHTML = {{ history.price }}.toLocaleString()
  
              var element = document.getElementById("generated"+{{history.id}});
              element.innerHTML = {{ history.data_generated }}.toLocaleString()
  
              var element = document.getElementById("initial"+{{history.id}});
              element.innerHTML = {{ history.initial_size }}.toLocaleString()
            </script>
  
            <th>
              <a href="/view-history/{{ history.id }}">Select</a>
            </th>
  
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <button onClick = "changeMode()" >View log/original</button>
  <div class = "container" id= "chart"> Original Graph <canvas id="myChart" ></canvas></div>
  <div class = "container" id = "logChart"> Log Graph <canvas id="myLogChart" ></canvas></div>

  <script>

    var dataSets = []
    dataSets.push({
      label: "before",
      data: {{ before_datas | safe }}[0],
      backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
  })

    for(i in {{ after_datas | safe }}){
      dataSets.push({
        label: {{name_list | safe}}[i],
        data: {{ after_datas | safe }}[i],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    })
    }

    const data = {
        datasets: dataSets
    };

    // config block
    const config = {
        type: 'line',
        data,
        options: {
            scales: {
                x : {
                    type: "time",
                    time: {
                        unit: 'year'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    };

     // render / init block
     var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    const log_config = {
      type: 'line',
      data: data,
      options: {
          scales: {
              x : {
                  type: "time",
                  time: {
                      unit: 'year'
                  }
              },
              y: {
                  beginAtZero: true,
                  type: 'logarithmic',
              }
          }
      }
    };

    var myChart = new Chart(
        document.getElementById('myLogChart'),
        log_config
    );

    document.getElementById('logChart').style.display = 'none'


    function changeMode(){
      var x = document.getElementById("chart");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

      var x = document.getElementById("logChart");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

    }
</script>
  

{% endblock %}