{% extends "base.html" %} 
{% block title %} View history {% endblock %}
{% block content %}
<h1 align = "Left">Input History</h1>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Instrument's Name</th>
        <th>Data Generated Per Day (GB)</th>
        <th>Price (AUD)</th>
        <th>Expected Lifetime (Years)</th>
        <th>Start Date (DD/MM/YYYY)</th>
        <th>Initial Data Size (GB)</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {%if user.histories and history_id %}
        {% for history in user.histories %}
            {% if history.id == history_id %}
                <tr id = "myTable">
                  <th>{{ history.name }}</th>
                  <td id="generated{{history.id}}"></td>
            <td id="price{{history.id}}"></td>

            <td >{{ history.lifetime }}</td>
            <td>{{ history.start_date }}</td>
            <td id="initial{{history.id}}"></td>

                  <script>
                    var element = document.getElementById("price"+{{history.id}});
                    element.innerHTML = {{ history.price }}.toLocaleString()
        
                    var element = document.getElementById("generated"+{{history.id}});
                    element.innerHTML = {{ history.data_generated }}.toLocaleString()
        
                    var element = document.getElementById("initial"+{{history.id}});
                    element.innerHTML = {{ history.initial_size }}.toLocaleString()
                  </script>

                  <th>
                    <a onclick="openForm()" >Edit</a>
                  </th>
                </tr>

                <tr id = "myForm" hidden>
                  <form class="update_form">
                    <input type="hidden" class="form-id" value="{{history.id}}">
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-name" id="{{ history.id }}" value="{{history.name}}">
                    </div>
                  </th>
                    
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-data_generated" id="{{ history.id }}" value="{{history.data_generated}}">
                  </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-price" id="{{ history.id }}" value="{{history.price}}">
                  </div>
                  </th>
          
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-lifetime" id="{{ history.id }}" value="{{history.lifetime}}">
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-start_date" id="{{ history.id }}" value="{{history.start_date}}">
                  </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-initial_size" id="{{ history.id }}" value="{{history.initial_size}}">
                    </div>
                  </th>

                  <th>
                    <a onclick="closeForm()" >Cancel</a>
                    <input type="submit" value="Save">
                  </th>
                </form>
                </tr>
            {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<br>
<br>
<!--COST TABLE-->
<h1 align = "Left">Cost Prediction (GB per day)</h1>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Duration</th>
        {% for storage in user.storage %}
        <th>{{ storage.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in range(5, 6) %}
      <tr>
        <th>After {{i}} Years</th>
        {%if user.histories and history_id %}
            {% for history in user.histories %}
                {% if history.id == history_id %}
                    {% for storage in user.storage %}
                        <td id="{{history.id}}{{storage.name}}">{{ "%.2f" | format(calculate_cost(history.data_generated, storage.price, storage.type, i))}}</td>

                        <script>
                          var element = document.getElementById("{{history.id}}{{storage.name}}");
                          var input = Number(element.innerHTML)
                          element.innerHTML = "$" + input.toLocaleString()
                        </script>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>
<br>



<h1 align = "Left">Customize storage type</h1>
<div align="right">
     <button  class="add-button"  onClick="addRow()">Add</button>
</div>

<br>


<table  class="storage-table">
<tr>
    <th>Storage Type</th>
    <th>% of Data</th>
    <th>% of Time</th>
</tr>
</table>
<div align="right">
<button class="submit-button" onClick="submitTable()">Submit</button>
</div>
    <br>
<table id="customize-table" width="800px" border="1px" cellpadding="0px" cellspacing="0px" style="display: none">
    <thead>
    <tr>
        <th align="center">Instrument's Name</th>
        <th align="center">Data</th>
        <th align="center">Year</th>
        <th align="center">Cost After 5 Years</th>
    </tr>
    </thead>
    <tbody class="x-cate" id="test">

    </tbody>
</table>


<p class="calculate-result"></p>
   <datalist id="select-type-list-id">

       <option value='WEHI $1000/tb one off'></option>
       <option value='AWS S3 (500TB+)'></option>
       <option value='AWS Deep Glacier'></option>
       <option value='CEPH Unimelb One-Off'></option>
       <option value='Tape LTO8 (not including drives)'></option>
       <option value='CEPH Unimelb Aggregate'></option>
       <option value='10TB HDD Officeworks'></option>
       <option value='45d CEPH Server'></option>

   </datalist>

<script type="text/javascript">

function submitTable() {

    var storagetTypeSet = [];
    $('.storage-table tr').each(function () {
        var element = document.getElementById("generated"+{{history_id}});
        var row = [];
        var tr=$(".input-history").find('tr');
        var data_generated = element.innerHTML;

        $(this).find('td').each(function () {

            if($(this).find("input").length>0){
                row.push(window.encodeURIComponent(this.children[0].value));
            }


        });
        row.push(data_generated);
        storagetTypeSet.push(row);
    });
    storagetTypeSet.shift()
    $j.ajax({
        url:"/calculate-customize",
        method:"POST",
        data:JSON.stringify(storagetTypeSet),
        dataType:'json',
        success:function(data){
            $("#customize-table tr:not(:first)").remove();
            $("#customize-table").show();
            for (var i = 0; i < data.length; i++){
                $("#customize-table").append("<tr><td>"+data[i][0]+"</td><td>" + data[i][1].toLocaleString() +"</td><td>"
                    + data[i][2]+"</td><td>" + data[i][3].toLocaleString() + "</td></tr>");
            }

        }
    });
};




function addRow(){
var tables = $('.storage-table');


var addtr = $("<tr>"+
"<td><input type='text' class='storage-type-control' list='select-type-list-id' style='width: 200px'/></td>"+
"<td><input type='text' class='storage-year-control' style='width: 80%; display: inline;' />%</td>"+
"<td><input type='text' class='storage-year-control' style='width: 80%; display: inline;' />%</td>"+
"<td><button  class='button primary fit small' onclick='deleteTrRow(this)'> Delete</button></td>"+
"</tr>");
      addtr.appendTo(tables);
}

function deleteTrRow(tr){
    $(tr).parent().parent().remove();
    }

</script>

    <br>
    <br>

<!--STORAGE CHART-->
<button onClick = "changeMode()" >View log/original</button>
<div class = "container" id= "chart"> Original Graph <canvas id="myChart" ></canvas></div>

<div class = "container" id = "logChart"> Log Graph <canvas id="myLogChart" ></canvas></div>


{% block modal %}{% endblock %}
{% block script %}{% endblock %}

<script>
    // setup block
    const data = {
        datasets: [{
            label: 'Before',
            data: {{ before | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'After',
            data: {{ after | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config block
    const config = {
        type: 'line',
        data,
        options: {
            scales: {
                x : {
                    type: "time",
                    time: {
                        unit: 'year'
                    }
                },
                y: {
                    beginAtZero: true,
                }
            }
        }
    };

     // render / init block
     var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    const log_config = {
      type: 'line',
      data: data,
      options: {
          scales: {
              x : {
                  type: "time",
                  time: {
                      unit: 'year'
                  }
              },
              y: {
                  beginAtZero: true,
                  type: 'logarithmic',
              }
          }
      }
    };

    var myChart = new Chart(
        document.getElementById('myLogChart'),
        log_config
    );

    document.getElementById('logChart').style.display = 'none'


    function changeMode(){
      var x = document.getElementById("chart");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

      var x = document.getElementById("logChart");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

    }
    

</script>

{% endblock %}