{% extends "base.html" %} 
{% block title %} View history {% endblock %}
{% block content %}
<h1 align = "Left">Input History</h1>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Instrument's Name</th>
        <th>Data Generated Per Day (GB)</th>
        <th>Price (AUD)</th>
        <th>Expected Lifetime (Years)</th>
        <th>Start Date (DD/MM/YYYY)</th>
        <th>Initial Data Size (GB)</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {%if user.histories and history_id %}
        {% for history in user.histories %}
            {% if history.id == history_id %}
                <tr id = "myTable">
                  <th>{{ history.name }}</th>
                  <td>{{ history.data_generated }}</td>
                  <td>{{ history.price }}</td>
                  <td>{{ history.lifetime }}</td>
                  <td>{{ history.start_date }}</td>
                  <td>{{ history.initial_size }}</td>
                  <th>
                    <a onclick="openForm()" >Edit</a>
                  </th>
                </tr>

                <tr id = "myForm" hidden>
                  <form class="update_form">
                    <input type="hidden" class="form-id" value="{{history.id}}">
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-name" id="{{ history.id }}" value="{{history.name}}">
                    </div>
                  </th>
                    
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-data_generated" id="{{ history.id }}" value="{{history.data_generated}}">
                  </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-price" id="{{ history.id }}" value="{{history.price}}">
                  </div>
                  </th>
          
                  <th>
                    <div class="form-group">
                      <input type="text" class="form-lifetime" id="{{ history.id }}" value="{{history.lifetime}}">
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-start_date" id="{{ history.id }}" value="{{history.start_date}}">
                  </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <input type="text" class="form-initial_size" id="{{ history.id }}" value="{{history.initial_size}}">
                    </div>
                  </th>

                  <th>
                    <a onclick="closeForm()" >Cancel</a>
                    <input type="submit" value="Save">
                  </th>
                </form>
                </tr>
            {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<script>
  function openForm(){
    document.getElementById("myForm").hidden = false;
    document.getElementById("myTable").hidden = true;  
  }

  function closeForm(){
    document.getElementById("myTable").hidden = false;
    document.getElementById("myForm").hidden = true;  
  }

  $('form.update_form').on('submit', function (){
    console.log($('.form-id').val())
    $j.ajax({
        url: '/update',
        type: 'POST',
        data:{
            'id': $('.form-id').val(),
            'name': $('.form-name').val(),
            'data_generated': $('.form-data_generated').val(),
            'price': $('.form-price').val(),
            'lifetime': $('.form-lifetime').val(),
            'start_date': $('.form-start_date').val(),
            'initial_size': $('.form-initial_size').val()
        },
        success:function (response){
            if(response == 1){
                alert("Save successfully");
                window.location.reload();
            }else{
                alert("Not saved");
            }
        }
    })
    event.preventDefault();
});

</script>

<br>
<br>
<!--COST TABLE-->
<h1 align = "Left">Cost Prediction (GB per day)</h1>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Duration</th>
        {% for storage in user.storage %}
        <th>{{ storage.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in range(5, 6) %}
      <tr>
        <th>After {{i}} Years</th>
        {%if user.histories and history_id %}
            {% for history in user.histories %}
                {% if history.id == history_id %}
                    {% for storage in user.storage %}
                        <td>{{ "$%.2f" | format(calculate_cost(history.data_generated, storage.price, storage.type, i))}}</td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>
<br>
<!--STORAGE CHART-->
<div class = "container"><canvas id="myChart" ></canvas></div>

{% block modal %}{% endblock %}
{% block script %}{% endblock %}

<script>
    // setup block
    const data = {
        datasets: [{
            label: 'Before',
            data: {{ before | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'After',
            data: {{ after | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config block
    const config = {
        type: 'line',
        data,
        options: {
            scales: {
                x : {
                    type: "time",
                    time: {
                        unit: 'year'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // render / init block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

{% endblock %}